header{
  background-color:aliceblue;
}

body{
  font-family: Helvetica, 'Lato', sans-serif;
  font-size:18px;
/*  background-color: #A5D9EA;*/
  background-color:white;
  background-image:url(http://www.richlandlibrary.com/sites/all/themes/rcpl/img/noise.png);
}

.events .row{
  padding:1em 0;
}

.events .row:nth-child(even){
  background-color: rgba(131, 131, 131, 0.08);
}

.events .row .times{
  padding-top: 0.5em;
  text-align:right;
}
.events .row time{ font-size:200%; }
.events .row .time--start{ font-weight:600; }
.events .row .time--end{ font-weight:200; font-size:125%;  }

.events .row .library{
  padding-top: 0.2em;
}

.events .row .details{
  font-size:80%;
  color:#333;
}

.tag{
  display:inline-block;
  background-color:black;
  padding:0.05em 0.3em;
  color:white;
  border-radius:0.2em;
}

.events .row h3{
  margin-top:0;
  font-size:200%;
  font-weight:600;
}

.events .row .content p{
  font-size:12pt;
}



.ballentine{ background-color: #f84747; }
.blythewood{ background-color: #14c7bd; }
.cooper{ background-color: #ae64cc; }
.eastover{ background-color: #173930; }
.edventure{ background-color: #F27D35; }
.main{ background-color: #0199BE; }
.north-main{ background-color: #90c8d0; }
.northeast{ background-color: #ff5d00; }
.sandhills{ background-color: #66cb66; }
.southeast{ background-color: #15bd7c; }
.st-andrews{ background-color: #888e8f; }
.wheatley{ background-color: #a65e38; }
.all-locations{ background-color:#2c2d2f; }