header{
	background-color:aliceblue;
}

body{
	font-family: 'Avenir Next', sans-serif;
	font-size:16px;
	background-color:white;
/*	background-color:#A5D9EA;*/
	background-image:url(noise.png);
}

.nav{
	list-style:none;
	padding-left:none;
}

.has-parent{
	margin-left:1em;
}

.dates .name{
	text-transform: uppercase;
	display:inline-block;
	width:3em;
}

.dates .number{
	font-size:150%;
}

.events .row{
	padding:1em 0;
}

.dates a{
	height:3em;
}

/*
.events .row .times{
	text-align:right;
}
*/

.staff-pick{
	color:red;
}

@media screen{
	.events .row:nth-child(even){
		background-color: rgba(131, 131, 131, 0.01);
		border-top: solid 1px #eee;
		border-bottom: solid 1px #eee;
	}

	.events .row .times{
		padding-top: 0.5em;
	}
	.events .row time{ font-size:200%; }
	.events .row .time--start{ font-weight:600; }
	.events .row .time--end{ font-weight:200; font-size:125%;  }
}

.events .times{
	float: left;
	margin-left: 30px;
	width: 6em;
}

.events .row p.description{
	max-height:8ex;
	overflow: hidden;
	text-overflow: clip;
	text-overflow: ellipsis;
	text-overflow: "…";
}

.events .row p.details{
	font-size:80%;
	color:#333;
}

.tag{
	display:inline-block;
	background-color:black;
	padding:0.05em 0.3em;
	color:white;
	border-radius:0.2em;
}

.events .row h3{
	margin-top:0;
	font-size:200%;
	font-weight:600;
	line-height: 1.3em;
}

.events .row .content p{
	font-size:12pt;
}

footer{
	height:100px;
}

.logo{ display:none; }

@media print{
	body{
		font-size:12pt;
		background:white;
		color:black;
	}

	h1{
		font-size:80%;
		line-height:1.2em;
	}

	header,nav{ display:none; }
	.filters,
	.dates{
		display:none;
	}

	.events .row{
		page-break-inside: avoid;
	}

	.events .times{
		font-size:100%;
		padding:0;
		margin:0;
	}

	.events .row .details,
	.events .row .image,
	.events .row .signup
	{
		display:none;
	}
	
	.events .row{
		font-size:60%;
	}
	.events .row .title{
		font-size:100%;
		margin: 0.1em 0;
	}
	.events .row .title a:after{
		content:'' !important;
	}
	
	.events{
		margin-left:0;
	}
	
	.logo{display:block;}
}
