<template name="eventItem">
  <div class="times span2">
    <time class="time--start">{{time}}</time>
    <br>
    <time class="time--end">until {{endtime}}</time>
  </div>

  <!--
  <div class="library span1">
    <span class="tag {{prettyLibrary}}">{{prettyLibrary}}</span>
  </div>-->

  <div class="content span7">
    <h3><a href="{{pathFor 'postPage'}}">{{title}}</a></h3>
    <p class="description">{{description}}</p>
    <p class="details">
      <span class="tag {{prettyLibrary}}">{{prettyLibrary}}</span>
      {{location}}
    </p>
  </div>
  
  <div class="image span3">
    <img src="{{imagepath}}">
  </div>
</template>
