<template name="eventsList">
	<h1>Events</h1>

	<div class="row">
		<nav>MENU ~ Page 1,2,3,4,5,6,7,8,9</nav>
	</div>

	<div class="row">
		<div class="filters span3">
			<h2>Types</h2>
			<ul class="inputs-list nav nav-list">
				<li>
					<label>
						<input type="radio" name="category">
						<span>Everything</span>
					</label>
				</li>
				{{#each categories}}
				<li>
					{{>filter}}
				</li>
				{{/each}}
			</ul>
			<h2>Locations</h2>
			<ul class="inputs-list">
				{{#each locations}}
				<li>
					{{>filter}}
				</li>
				{{/each}}
			</ul>
			<h2>Ages</h2>
			<ul class="inputs-list">
				{{#each ages}}
				<li>
					{{>filter}}
				</li>
				{{/each}}
			</ul>
		</div>

		<div class="events span9">
			<div class="row">
				<div class="span2 times">
					<time class="time--start">
						<span id="currentTimeHours">00</span><span class="blink">:</span><span id="currentTimeMinutes">00</span>
						<span class="meridian" id="currentTimeMeridian"></span>
					</time>
				</div>
				<div class="span7">
					<h3>Today</h3>
				</div>
			</div>
			{{#each events}}
			<div class="row">
				{{> eventItem}}
			</div>
			{{/each}}
		</div>
	</div>

	<footer>footer footer footer footer footer</footer>
</template>
