<template name="eventItem">
	<div class="times span2">
		<small>
			{{prettyTime iso_start}}
			<!--– {{prettyTime iso_end}}-->
			<br>{{prettyLibrary}}
			<br>{{location}}
			<br>{{prettyDate}}
		</small>
	</div>

	<div class="content span7">
		<h3><a href="{{pathFor 'postPage'}}">{{title}}</a><span class="badge">{{staffPick}}</span></h3>

		<p class="details">
			<span class="tag {{tagClass}}">{{prettyLibrary}}</span>
			{{location}}
		</p>
	</div>

<!--
	<div class="image span3">
		<img src="{{imagepath}}">
	</div>
-->
</template>
