<template name="eventsList">
	<h1>{{thisType}}Events{{atLocation}}{{forAges}}</h1>

	{{>dates}}

	<div class="row row-offcanvas row-offcanvas-left">
		<div class="filters span3 col-md-3 sidebar-offcanvas">
			<h2>Types</h2>
			<ul class="nav nav-list">
				{{>filter display_value="Everything" kind="eventtypes"}}
				{{#each categories}}
					{{>filter}}
				{{/each}}
			</ul>
			<h2>Locations</h2>
			<ul class="nav nav-list">
				{{>filter display_value="Everywhere" kind="library"}}
				{{#each locations}}
					{{>filter}}
				{{/each}}
			</ul>
			<h2>Ages</h2>
			<ul class="nav nav-list">
				{{>filter display_value="Everyone" kind="agegroups"}}
				{{#each ages}}
					{{>filter}}
				{{/each}}
			</ul>
		</div>

		<div class="events span7 col-md-7 offset1">
			{{#each events}}
				{{> eventItem}}
			{{/each}}
		</div>
	</div>

	<footer>footer footer footer footer footer</footer>
</template>
