<template name="eventItem">
	<div clas="row">
		<div class="span12">
			<h4><a href="{{pathFor 'postPage'}}">{{title}}</a> <span class="staff-pick">{{staffPick}}</span></h4>
		</div>
		
		<div class="times span1">
			{{prettyTime iso_start}}
			<br>{{prettyDate}}
		</div>

		<div class="content span4">
			<p class="details">
				<span>{{prettyLibrary}} / {{location}}</span>
				<p><small>{{description}}</small></p>
			</p>
		</div>

	<!--
		<div class="image span3">
			<img src="{{imagepath}}">
		</div>
	-->
	</div>
</template>
